/* Custom CSS Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Another Custom CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    /*  font-size: 100%;
    font: inherit;*/
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Custom CSS Styling Start Here*/

/*Global Settings*/
html,
body {

    scroll-behavior: smooth;
    /* font-family: 'Ubuntu', sans-serif;*/
    /*    font-family: 'Gudea', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/
    /*    font-family: 'Dosis', sans-serif;*/
    /*font-family: 'Numans', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;*/

}

/*Spinner*/

.loader_container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffff;
}

.loader_spacer {
    padding-top: 40vh !important;
}

/*.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/

/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

/*headings*/

h1 {
    font-family: 'Oswald', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dosis', sans-serif;
}

p,
li {
    /*    font-family: 'Numans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

/*Images*/

.modal img {
    border-radius: 5px !important;
}

/*Modal*/
.modal {
    border-radius: 15px !important;
}

.modal-content {
    border: 0px !important;
}

#Landing_Page_Modal_Backdrop {
    opacity: 0.9;
}

#Landing_Page_Modal {
    display: block;
}

#Landing_Page_Modal div.modal-dialog div.modal-content {
    /* background: url(../images/action-bicycling-bike-biking-287398.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;*/
    background:
        linear-gradient(rgba(255, 255, 255, 0.75),
        rgba(204, 232, 240, 0.60)),
        /* bottom, image */
        url(../images/action-bicycling-bike-biking-287398.jpg) center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}

#Landing_Page_Modal_Backdrop:target {
    display: none;
}

.bp_custom_column_padding a {
    float: right;
}

#bp_quote span {

    text-align: right;
}

#bp_quote p:first-child {
    font-size: 16px;
    font-weight: bold;
}

#bp_quote p:last-child {
    text-align: right;
    font-weight: bold;
    font-style: italic;
}

#privacy {
    color: #333333 !important;
}

/* Gallery Modals */
/*#bp_road_bike div .modal-content, #bp_mountain_bike div .modal-content, #bp_utility_bike div .modal-content, #bp_touring_bike div .modal-content, #bp_adventure_bike div .modal-content, #bp_electric_bike div .modal-content {
width: 80vw !important;
}*/

/*Logo*/
#bp_NavTop a i {
    text-shadow: 3px 3px #88929B !important
}

/*Page Title*/
#bp_page_title {
    float: right;
    text-align: center;
    vertical-align: middle;
    padding-left: 15px;
    /*padding-top: 8px;*/
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 3px 3px #88929B !important
}

/*Page description*/
#bp_page_description {
    color: #F6FAF3;
    font-size: 2.5em;
    text-align: justify;
    text-shadow: 3px 3px #88929B !important
}

/*Top nav*/
#bp_NavTop {
    background-color: #37A8A6;
}

/*Top Nav Items*/
#bp_Nav ul li a {
    text-align: right;
    font-size: 1em;
}

#bp_Nav ul li a:hover {
    text-decoration: underline;
    color: #F6FAF3;
    padding-bottom: 5px;
}

#bp_Nav {
    transition: all .5s ease-in-out;
}

.currentmenu {
    /*        background-color: #F6FAF3;*/
    /*        color: #000000 !important;*/
    border-radius: 3px;
    transition: 0.5s;
    border-bottom: 3px solid #F6FAF3;
}


/*Footer*/
#bp_NavBottom {
    background-color: #1E726F;
    /*    height: 15vh;*/
}

#bp_disclaimer {
    background-color: #1E726F;
    /*    height: 15vh;*/
    color: #fcfcfc !important;
    font-size: 1em;
    /*00AA98*/
}

/*Container*/
div.container-fluid {
    /*    padding-right: 0px;
    padding-left: 0px;*/
}

/*Banner*/
img.new_index {
    /*    object-fit: cover;*/
    width: 100%;
}

img.old_index {
    object-fit: cover;
    width: 100%;
}

/*column*/
[class*="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}

.bp_custom_column_padding,
.bp_custom_column_padding div p,
.bp_custom_column_padding form {
    padding-right: 15px;
    padding-left: 15px;
}


/*Back to top */
#backtotop {
    /*    background-color: #37A8A6;*/
    width: 50px;
    height: 50px;
    border-radius: 10%;
    margin-right: 15px;
    z-index: 9999;
    opacity: 0.3;
    text-align: right;
    float: right;
}

/* Home */

.bp_home_card_button {
    background-color: #FF4C00;
    color: #fcfcfc !important;
    font-weight: bold;
    font-size: 0.8em;
}

#bp_home div div>img {
    width: 100% !important;
    height: 11em !important;
    object-fit: scale-down;
}

.card-text {
    font-size: 0.9em !important;
}

.card-body {
    height: 9em;
}

#bp_home div div div>p {
    height: 2em;
}

#bp_health, #bp_transportation, #bp_environment {

    height: 100% !important;
    overflow-y: scroll !important;
}

#bp_health div div>.modal-header {}


/*Photo Gallery*/

.bp_bike_category {
    display: none;
    transition: .5s ease;
}

#bp_gallery_photos div a img:hover {
    transition: .5s ease;
    opacity: 0.5;
}

#bp_gallery_photos div a:hover+.bp_bike_category {
    display: block;
    color: #ffffff;
    background-color: #10807C;
    border-radius: 10px;
    padding: 0px;
    height: inherit !important;
}

#bp_gallery_photos div a>img {
    width: 100% !important;
    height: 11em !important;
    object-fit: scale-down;
}

div.bp_embedded_video div iframe {
    height: 70% !important;
}

.bp_gallery_photos_background div {
    background-color: #E0E0E0;
    /*    background:
        linear-gradient(rgba(255, 255, 255, 0.75),
        rgba(204, 232, 240, 0.60)),
        /* bottom, image */
    url(../images/man-sitting-beside-bicycle-2270328.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    */
}


/*Contact*/

#gmap_canvas {
    height: 100% !important;
}

#message {
    height: 100% !important;
}


/*Carousel*/

.carousel-caption h5 {
    text-transform: uppercase;
}

.carousel-caption p {
    text-transform: capitalize;
}

.carousel-caption {
    bottom: 0% !important;
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    left: 0% !important;
    height: 30% !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 1em;
}


/*About*/

.parallelogram {
    /*width: 100vh;
      height: 100vh;*/
    transform: skew(-2deg);
    padding: 5px;
    /*    height: 50vh;*/
}

ul.card-text li {
    list-style-type: square;
    margin-left: 25px !important;
}


.parallelogram img {
    object-fit: cover;
    /*width:80vh !important;
height:50vh !important;*/
    width: 50vh !important;
    height: 40vh;
    object-fit: scale-down;
    border-radius: 5px !important;
}

.parallelogram p a {
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
    float: left;
}

.parallelogram .card-body {
    /*    height: inherit !important;*/
}

.parallelogram h4 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.parallelogram_border {
    border: 1px solid #333333 !important;
}

.bp_myblog {
    font-size: 0.8em;
}


/*
Parallax
*/

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    /*  opacity: 0.65 !important;*/
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    background-size: 100% 100%;

}

.bgimg-1 {
    background-image: url("../images/paralax_4.jpg");
    /*  min-height: 400*/
    px;
}

.bgimg-2 {
    background-image: url("../images/paralax_2.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("../images/paralax_3.jpg");
    min-height: 400px;
}


.bp_white_background {
    background-color: #ffffff;
}


/*Popover*/

/*#bp_popup_instructions a {
    border-radius: 15px;
}*/



/*body {
  font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7f53ac), to(#657ced));
  background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
  color: black;
}*/

/*Media  Queries*/

/*240 x 240 is the smallest resolution for Android Watch*/
/*240 x 320 is the smallest resolution for Mobile phone*/

/*Small devices (landscape phones, 240px and up)*/
@media (min-width: 240px) and (max-width: 575.98px) {

    /*Page Logo*/
    #bp_NavTop a i {
        font-size: 1.8em;
    }

    /*Page Title*/
    #bp_page_title {
        font-size: 1em;
    }

    /*Page description*/
    #bp_page_description {
        font-size: 0.95em;
    }

    /*Top Nav Items*/
    #bp_Nav ul li a {
        padding-right: 50px;
    }

    /*Top Nav Items*/
    #bp_Nav ul li a {
        font-size: 0.9em;
    }

    /*Banner*/
    img.new_index {
        height: calc(100vh - 9.216589861751151vh) !important;
        /*        height: 80vh !important;*/
        object-fit: cover;

    }

    img.old_index {
        /*        height: 100vh !important;*/
        height: calc(100vh - 9.216589861751151vh) !important;
        object-fit: cover;
    }

    /*About*/
    .parallelogram {
        transform: skew(0deg) !important;
    }


    /*iframe Video*/
    div.bp_embedded_video div iframe {
        height: 100% !important;
    }

 /*    .carousel-caption {
        bottom: calc(90vh - 89vh) !important;
    }*/

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    /*Top Nav Items*/
    #bp_Nav ul li a {
        padding-right: 50px;
    }

    /*Page description*/
    #bp_page_description {
        font-size: 1.7em;
    }


    /*Banner*/
    img.new_index {
        height: 90vh !important;
        object-fit: cover;

    }

    img.old_index {
        height: 90vh !important;
        object-fit: cover;
    }

    /*About*/
    .parallelogram {
        transform: skew(0deg) !important;
    }

    /*iframe Video*/
    div.bp_embedded_video div iframe {
        height: 100% !important;
    }

 /*    .carousel-caption {
        bottom: calc(90vh - 89vh) !important;
    }*/

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    /*Top Nav Items*/
    #bp_Nav ul li a {
        padding-right: 50px;
    }

    /*Page description*/
    #bp_page_description {
        font-size: 2em;
    }

    /*Banner*/
    img.new_index {
        height: 90vh !important;
        object-fit: cover;
    }

    img.old_index {
        height: 90vh !important;
        object-fit: cover;
    }

/*    .carousel-caption {
        bottom: calc(90vh - 89vh) !important;
    }*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    /*Top Nav Items*/
    #bp_Nav ul li a {
        font-size: 1em;
    }

    #bp_Nav ul li a:hover {
        background-color: #F6FAF3;
        color: #053C43;
        border-radius: 3px;
    }

    #bp_page_description {
        font-size: 2em;
    }

    /*Banner*/

    img.new_index {
        height: 90vh !important;
        object-fit: cover;
    }

    img.old_index {
        height: 90vh !important;
        object-fit: cover;
    }

/*    .carousel-caption {
        bottom: calc(90vh - 89vh) !important;
    }*/
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    html,
    body {
        max-width: 1600px;
        margin: 0 auto;
        /*        font-size: 1em;*/
    }

    /*Banner*/

    img.new_index {
        object-fit: cover;
    }

    img.new_index {
        height: 90vh !important;
    }

    img.old_index {
        height: 90vh !important;
    }

    /*Top Nav Items*/
    #bp_Nav ul li a:hover {
        background-color: #F6FAF3;
        color: #053C43;
        border-radius: 3px;
    }

    /*About 3 Col Grid Center*/

    #bp_about_contents .bp_special_offset_3 {
        margin-left: 12.4999995%;

    }

/*    .carousel-caption {
        bottom: calc(90vh - 89vh) !important;
    }*/

}


/*Special Queries for Specific Elements*/

/*Modal
Add scroll bar
*/
@media (max-width: 991px),
(max-hieght: 750px) {

    /*Modal*/
    #Landing_Page_Modal {
        height: 100vh !important;
        /*        font-size: 1em;*/
        overflow-y: scroll;
    }

}


/*
Remove Page description
*/

@media (min-width: 240px) and (max-width: 399px) {

    /*Modal*/
    #bp_page_description {
        display: none;
    }

}

/*Center a 3 column grid*/
@media (min-width: 992px) {
    .bp_special_offset_1 {
        margin-left: 12.4999995%;

    }

    .bp_special_offset_2 {
        margin-left: 18.666666%;
    }

}

/*Remove Carousel if Height is less than 900*/
@media (max-height: 639.98px) {

    .carousel-caption {
        visibility: hidden;
    }

}


/*Hide the elements and show message that page must be viewed with a minimum 480 pixel height*/
@media only screen and (max-height: 239.98px) {

    body div,
    body nav {
        display: none !important;
    }

    body::after {
        content: "The lowest screen resolution in existence for mobile is 240x320. Web Developer intentionally hide the elements. View this page on a device with a minimum height pixel of 320px.";
    }

}

@media only screen and (max-width: 239.98px) {

    body div,
    body nav {
        display: none !important;
    }

    body::after {
        content: "The lowest screen resolution in existence for mobile is 240x320. Web Developer intentionally hide the elements. View this page on a device with a minimum width pixel of 240px.";
    }

}